<style>
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #f4511e;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .container-fluid {
    /*padding: 60px 50px;*/
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .userImage {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  .row {
    background: white;

  }
  .navbar {
    background-color: white;
    padding-left: 30px;
    /*margin-bottom: 0;
    z-index: 9999;*/
    border: 0;
    font-size: 20px !important;
    line-height: 2 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .pad {
    padding-left: 120px;
  }
    .bg-black {
    background-color: #C0C0C0 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  /* Style the header */
.header {
  /*padding: 10px 16px;*/
  background: #C0C0C0;
  color: #f1f1f1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#424242;
  overflow-x: hidden;
  /*padding-top: 20px;*/
 /* box-shadow: 5px 0px #888888;*/
}
#shadow {
  /*border: 1px solid;*/
  padding: 10px;
  box-shadow: 4px 0px 10px #888888;
}
.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.sidenav button {
  background-color: #424242;
  text-decoration: none;
  font-size: 14px;
  font: Roboto,sans-serif;
  color: white;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 20px;
  width: 150px;
  position: center;
}
.sidenav button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.sidenav button.active {
  background-color: #ccc;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.dashboard {
  padding-top: 5px;
  padding-left: 170px;
}
/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
/*  background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
  width: 200px;
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  
  /*background-color: #ccc;*/
  border-bottom: 2px solid;
  border-color: dodgerblue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
/*  border: 1px solid #ccc;*/
  border-top: none;
}
.footer {
   position: fixed;
   left: 130px;
   bottom: 0;
   width: 100%;
   padding-left: 20px;
   background-color: white;
   color: black;
   font-size: 20px;
   /*ext-align: center;*/
}
  </style>